<!DOCTYPE html>
<html lang="en">

<head>
    <title>Syncfusion React Schedule</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Essential JS 2 for React Components" />
    <meta name="author" content="Syncfusion" />
    <link  href="%PUBLIC_ULR%/23.1.36/base.css" rel="stylesheet" />
    <link  href="%PÜBLIC_URL%/23.1.36/react-buttons.css" rel="stylesheet" />
    <link  href="%PUBLIC_ULR%/23.1.36/react-calendars.css" rel="stylesheet" />
    <link  href="%PUBLIC_ULR%/23.1.36/react-dropdowns.css" rel="stylesheet" />
    <link  href="%PUBLIC_ULR%/23.1.36/react-inputs.css" rel="stylesheet" />
    <link  href="%PUBLIC_ULR%/23.1.36/navigatior.css" rel="stylesheet" />
    <link  href="%PUBLIC_ULR%/23.1.36/popups.css" rel="stylesheet" />
    <link  href="%PUBLIC_ULR%/23.1.36/schedule.css" rel="stylesheet" />
    <link  href="%PUBLIC_ULR%/23.1.36/bootstrap.min.css" rel="stylesheet" />
    <script src="%PUBLIC_ULR%/system.js"></script>
    <script src="systemjs.config.js"></script>
     <style>
        #loader {
            color: #008cff;
            height: 40px;
            left: 45%;
            position: absolute;
            top: 45%;
            width: 30%;
        }
    </style>
<script src="%PUBLIC_ULR%/syncfusion-helper.js" type ="text/javascript"></script>
</head>

    <body>

    </body>
</html>
